<script type="text/javascript" src="{$plugin_path}/template/libs/voice.js"></script>

<audio id="voice_零" src="{$voice_path}/零.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_一" src="{$voice_path}/一.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_二" src="{$voice_path}/二.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_三" src="{$voice_path}/三.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_四" src="{$voice_path}/四.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_五" src="{$voice_path}/五.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_六" src="{$voice_path}/六.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_七" src="{$voice_path}/七.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_八" src="{$voice_path}/八.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_九" src="{$voice_path}/九.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_十" src="{$voice_path}/十.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_百" src="{$voice_path}/百.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_千" src="{$voice_path}/千.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_万" src="{$voice_path}/万.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_亿" src="{$voice_path}/亿.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_点" src="{$voice_path}/点.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_加" src="{$voice_path}/加.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_减" src="{$voice_path}/减.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_乘" src="{$voice_path}/乘.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_除" src="{$voice_path}/除.mp3" controls="controls" hidden="true"></audio>
<audio id="voice_等于" src="{$voice_path}/等于.mp3" controls="controls" hidden="true"></audio>
