.exam_top {margin:10px 20px 10px;}

.exam_top h1 {font-size:15px;font-weight:normal;}

.exam-progress {text-align:center;padding-bottom:10px}
.exam-progress b {font-size:18px;color:#f90;font-weight:normal;}

#exam-timing {text-align:center;margin:20px 0;}
#exam-timing span {background:#f90;color:#fff;
    display:inline-block;padding:2px 10px;
    border-radius:100px;
    width:100px;
}

.exam-answer-btn {font-size:30px;background:#fff;border:solid 1px #f90;cursor:pointer;
    color:#f90;
    font-family:serif;
}


